#home {
    background-color: rgb(103, 45, 156);
}
#cobra {
    position: absolute;
    top: 2%;
    right: 50%;
}
#accedi_png {
    position: absolute;
    top: 1%;
    right: 2%;
}
#ricerca {
    position: absolute;
    top: 1%;
    left: 50%
}
#quiz {
    position: absolute;
    top: 30%;
    left: 30%;
}