#mappa {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#txtbox {
  font-size: 13;
  position: absolute;
  top: 2%;
  left: 37%;
  width: 20%;
  height: 5%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
  
#txtbox:focus {
  border: 4px solid #555;
}

#imgRic{
  position: absolute;
  top: 3.3%;
  left: 57.2%;
  width: 2.6%;
  height: 4%;
    
}
#ResetReg{
  position:absolute;
  bottom:5.5%;
  width: 10%;
  height:5%;
  background-color: #00ff1a50;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
#province{
  position:absolute;
  top:94.5%;
  left:10%;
  width: 10%;
  height:5%;
}

