#background_quiz {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}
#regione {
  position:absolute;
  left: 27%;
  top: 18.5%;
  width: 46%;
  height: 58%;
}
#user {
  position: absolute;
  top:0.5%;
  left:0.5%;
  color:rgb(255, 255, 255);
}
#punti {
  position: absolute;
  top:5.5%;
  left:0.5%;
  color:rgb(255, 255, 255);
}
#domanda {
  position: absolute;
  top:6.5%;
  right:2%;
  color:rgb(255, 255, 255);
  font-size: 40px;
}
#indicazione {
  position: absolute;
  top: 13.8px;
  left:0;
  text-align: center;
  width: 100%;
  color: rgb(228, 59, 200);
  font-weight: bold;
  font-size: 60px;
}
#opzioni {
  position:absolute;
  left:0;
  text-align: center;
  width: 100%;
  top: 75.8%;
  font-weight: bold;
  font-size: 30px;
  color:rgb(0, 0, 0);
}
#submit {
  background-color: rgb(228, 59, 200);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
#output {
  position:absolute;
  top: 33%;
  left:7%;
  font-weight: bold;
  font-size: 25px;
  color:rgb(255, 255, 255);
}