#home {
    background-color: rgb(103, 45, 156);
}
#cobra {
    position: absolute;
    top: 2%;
    left: 43.5%;
}
#accedi_png {
    position: absolute;
    top: 1%;
    right: 2%;
}
#ricerca {
    position: absolute;
    top: 20%;
    left: 15%;
}
#quiz {
    position: absolute;
    top: 20%;
    right: 15%;
}
#easy {
    position: absolute;
    top: 65%;
    right: 36%;
}
#easy_img {
    position: absolute;
    top: 65%;
    right:36%;
}
#hard {
    position: absolute;
    top: 65%;
    right: 20%;
}
#hard_img {
    position: absolute;
    top: 65%;
    right: 20%;
}
#Difficolta {
    position: absolute;
    top: 59%;
    right: 22.5%;
}