<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <title>Login</title>
</head>
<body>
    <img id = "background_regi" src = "static/images/paesaggioFuturisticoViola.jpg">
    <img id = "cobra" src="static/images/Cobra(3).png" width="15%" height="17%">
    <h1 id = "benvenuto">Benvenuto su GeoCobra</h1>
    <div id = "form_regi">
        <center>
            <form action="/login" method="POST">
                <h2 class = "form_regis">Nickname</h2> <br>
                <input type = "text" name = "Nick" size="30" required/>
                <h2 class = "form_regis">Email</h2> <br>
                <input type="email" name="Email" pattern=".+@gmail.com" size="30" required>
                <h2 class = "form_regis">Password</h2> <br>
                <input type = "password" name ="Password" size="30" required/> <br> <br> <br>
                <p><input id = "submit" type = "submit" value = "Login"/></p><br>
                <a href="/"><p>Se non sei hai mai fatto l'accesso effettua la registrazione!</p></a>
            </form>
        </center>
    </div>
    <script>window.alert("I dati non sono corretti")</script>
</body>