<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <title>Quiz</title>
</head>
<body>
    <img id = "quiz_home" src = "static/images/quiz.jpg">
    <h2>PUNTEGGIO: {{score}}</h2>
    <h2>{{question}}/10</h2>
    <h1 id = "sottotitolo">{{text}}</h1>
    <img src="/regione_png">
    <form action="/quiz_facile" method = "GET">
        <p>
            <input type = "radio" name = "Scelta" value={{opzione1}} required/>{{opzione1}} <input type = "radio" name = "Scelta" value={{opzione2}} />{{opzione2}} <br>
            <input type = "radio" name = "Scelta" value={{opzione3}} />{{opzione3}} <input type = "radio" name = "Scelta" value={{opzione4}} />{{opzione4}}
        </p>
        <p><input type = "submit" value = "Conferma Scelte" /></p>
    </form>
</body>