<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_explore.css') }}">
</head>
<iframe id = "mappa", src="/map"></iframe>
<form action="/ricerca" method = "GET">
    <input id = "txtbox" type="text" placeholder="Cerca Regione" name="Cerca" required/>
    <input id = "imgRic" type="image" src="static/images/search (1).png" alt = "Submit" >
</form>
<form action = "/explore" method = "GET">
    <p><input id = "Reset" type = "submit" value = "Ti sei perso? Click Me!"/></p><br>
</form>
<form action = "/Province" method = "GET">
    <p><input id = "cambio" type = "submit" value = "Province"/></p><br>
</form>
<form action = "/home" method = "GET">
    <p><input id = "homepage" type = "submit" value = "Torna alla HomePage"/></p><br>
</form>
<script>alert("La regione inserita non esiste")</script>