<form action="/registrazione" method = "POST">
    <h3>Nickname</h3> <br>
    <input type = "text" name = "Nick" required/>
    <h3>Email</h3> <br>
    <input type = "email" name = "Email" pattern = ".+@gmail\.com" title = "@gmail.com" size = "30" required/>
    <h3>Password</h3> <br>
    <input type = "password" name = "Password" required/>
    <h3>Confirm Password</h3> <br>
    <input type = "password" name = "Cpassword" required/>
    <p><input type = "submit" value = "Registrati"/></p>
    <p><a href="/login">Hai già effettuato la registrzione? Effettua il Login!</a></p>
</form>